---
layout: default
---
   <ul class="title slogan">
 <li>Decolonize</li>
   <li>Your</li>
   <li>Attention</li>
 </ul>

<div id="accordion" class="panel-group">
  <div class="panel">
    <a href="#" class="collapse-trigger" data-toggle="collapse" data-target="#study" aria-expanded="true" aria-controls="study">
      <ul class="title">
        <li>Study</li><li>Circle</li>
      </ul>
      <div class="description"><p>We need to get educated: A bottom-up way to find understanding of the seminal issues that shape our future.</p></div>
    </a>
    <div id="study" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
     <p class="status">Current Study Group:</p>
  {% for post in site.categories.study %}
  {% if post.status contains "current" %}
    <a class="study-link {{ post.status }}" href="{{ post.url }}" style="background-image: url(/assets/images/{{ post.cover }})">
      <p class="main">{{ post.title }}</p>
    <p class="description">{{ post.description }}</p>
  </a>
    {% endif %}
  {% endfor %}
      <p class="status">Previous Study Groups:</p>
    {% for post in site.categories.study %}
     {% if post.status contains "previous" %}
    <a class="study-link {{ post.status }}" href="{{ post.url }}">
      <p class="main">{{ post.title }}</p>
    <p class="description">{{ post.description }}</p>
  </a>
    {% endif %}
  {% endfor %}
    </div>
  </div>
  <div class="panel">
    <a href="#" class="collapse-trigger collapsed soon" data-toggle="collapse" data-target="#discovery" aria-expanded="false" aria-controls="discovery">
     <ul class="title">
      <li>Discovery</li><li>Circle</li>
    </ul>
    <div class="description"><p>Short design exercises to distill recommendations with people affected by the topic.</p></div>
  </a>
  <div id="discovery" class="collapse" data-parent="#accordion">
  {% for post in site.categories.discovery %}
    {% if post.url %}
    <li><a class="{{ post.status }}" href="{{ post.url }}">{{ post.title }}</a><p>{{ post.description }}</p></li>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div class="panel">
  <a href="#" class="collapse-trigger collapsed" data-toggle="collapse" data-target="#tools" aria-expanded="false" aria-controls="tools">
    <ul class="title"><li>Tools</li><li>for</li><li>Autonomy</li></ul>
    <div class="description"><p>Evade the algorithm rat-race of surveillance capitalism with community-owned communication tools.</p></div>
  </a>
  <div id="tools" class="collapse" data-parent="#accordion">
<ul>
      {% for post in site.categories.tools %}
    {% if post.url %}
    <li><a class="{{ post.status }}" href="{{ post.redirect }}" target="tools">{{ post.title }}</a><p>{{ post.description }}</p></li>
    {% endif %}
  {% endfor %}
</ul>
  </div>
</div>

<div class="panel">
  <a href="#" class="collapse-trigger collapsed soon" data-toggle="collapse" data-target="#about" aria-expanded="false" aria-controls="about">
    <ul class="title"><li>About</li><li>Us</li></ul>
<div class="description"><p>We're a group of queer people gathering to understand challenges and opportunities of our digital society.</p></div>
  </a>
  <div id="about" class="collapse" data-parent="#accordion">
  <div class="team">
  {% for post in site.categories.about %}
    {% if post.url %}
  <a style="background-image: url(/assets/images/about/{{ post.slug }}.{{ post.type }})" target="about" href="{{ post.link }}"><div>{{ post.title }}</div></a>
    {% endif %}
  {% endfor %}
</div>
  </div>
</div>
<div class="panel">
  <a href="#" class="collapse-trigger collapsed" data-toggle="collapse" data-target="#others" aria-expanded="false" aria-controls="others">
 <ul class="title"><li>Find</li><li>the</li><li>Others</li></ul>
<div class="description"><p>Find the like-minded groups and organizations we share orbit with.</p></div>
  </a>
  <div id="others" class="collapse" data-parent="#accordion">
<ul><li><a target="others" href="https://colet.space/">CoLET: The Collective for Liberation, Ecology, and Technology</a></li><li><a target="others" href="https://www.nycmesh.net/">NYC Mesh</a></li><li><a target="others" href="https://www.techworkescoalition.org/">Tech Workers Coalition</a></li><li><a target="others" href="https://www.ainowinstitute.org">AI NOW</a></li><li><a target="others" href="https://ajlunited.org">Algorithmic Justice League</a></li><li><a target="others" href="https://datasociety.net/">Data + Society</a></li><li><a target="others" href="http://technoqueers.com/">TechnoQueers</a></li></ul>

  </div>
</div>
</div>
