
.panel {
  @include reset(all);
  @include reset(shadow);
  &:hover {
    .collapse-trigger .description {
      height: map-get($size, collapse);
    }
  }
      .collapse-trigger[aria-expanded="true"] .description {
      height: map-get($size, collapse);
    }
  .collapse-trigger {
    border-top: solid 5px map-get($color, fg);
    display: block;
    &:before {
      content: "";
      display: block;
      height: 10px;
      width: 20%;
      background-color: map-get($color, fg);
      margin-top: -10px;
    }
    .description {
      display: block;
      height: 0;
      overflow: hidden;
      @include transition;
      p {
        @include highlight;
              color: map-get($color, fg);
      line-height: 130%;
      }
    }
    &:hover {
      text-decoration: none;
    }
    .title {
      display: inline-block;
      background-color: map-get($color, bg);
      padding: 3px 10px 5px 0 !important;
      li {
        display: inline;
        font-size: map-get($font-size, subtitle);
       @include zebra;
      }
    }
  }
  &:nth-of-type(2) .collapse-trigger:before {
    margin-left: (100% / 5);
  }
  &:nth-of-type(3) .collapse-trigger:before {
    margin-left: ((100% / 5) * 2) ;
  }
  &:nth-of-type(4) .collapse-trigger:before {
    margin-left: ((100% / 5) * 3);
  }
  &:nth-of-type(5) .collapse-trigger:before {
    margin-left: ((100% / 5) * 4);
  }
  .collapse {
     margin-bottom: 20px;
      background-color: map-get($color, bg);
}
}