body {
  font-family: map-get($font, text);
  margin: map-get($size, margin) 0;
  background-color: map-get($color, bg);
  counter-reset: my-awesome-counter;
}



@mixin rain($x: 10, $y: 10, $delay: 0, $duration: 1s, $function: $functionDefault, $count: $countDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(rain);
  @include duration($duration);
  @include function($function);
  @include delay($delay);
  @include fill-mode($fill);
  @include count($count);
  @include visibility($visibility);
  @at-root {
    @include keyframes(rain) {
      0% {
       @include translate($x, $y);
       @include opacity(0);
     }
     100% {
       @include translate(0, 0);
       @include opacity(100);
     }
   }
 }
}

.logo, .slogan, footer.footer {
  @include rain;
}
footer.footer {
  display: none;
}

.dots {
  // refer to nonlinear.nyc/tile
  @include tile(lines-down-a, purple, 5px);
  height: 100vh;
  @include border-box;
  width: 100%;
  position: fixed;
  z-index: -1;
  border-bottom: solid 60px white;
}

p, li {
  font-size: map-get($font-size, text);
  line-height: map-get($font-size, textLine);
}

.newsletter, .new {
  display: none;
}

.slogan {

  margin-bottom: (map-get($size, margin) * 2) !important;
  li {
    @include highlight;
    @include zebra;
    font-size: map-get($font-size, title);
    line-height: map-get($font-size, titleLine);
  }
}
.study-info {
  @include rain($delay: ($delay * 4));
  margin-bottom: map-get($size, margin);
  p {

    @include highlight;
  }

}

article.article {
  section, header.header {
    h1, h2, h3, h4, p, li {
      @include highlight;
    }
    .meeting {
      font-family: map-get($font, mono);
    }
  }
  header.header {
    h1 {
      font-size: map-get($font-size, title);

    }
    h1, p {
      margin-bottom: 0;

    }
    p:after {
      height: map-get($size, margin);
    }

  }
}

.word {
  color: map-get($color, brand);
}

.container {
  max-width: map-get($size, container);
}


aside {
  @media screen and (min-width: map-get($size, bp)) {

 height:  100vh;

  position: fixed;
  }
 .title a.logo {
      @media screen and (min-width: map-get($size, bp)) {
  display: inline-block;
}
  margin-bottom: (map-get($size, margin) * 2);
  @include transition;
  color: map-get($color, fg);

  svg {
    @media screen and (min-width: map-get($size, bp)) {

width: 170px;

margin-left: -30px;
      }
         @media screen and (max-width: map-get($size, bp)) {
          float: left;
          margin: 10px;
          width: 150px;
          z-index: 3000 !important;
         }
.cls-3, .cls-2, .cls-a {
  @include transition;
}
  }
  div {
    @include highlight;
    @media screen and (max-width: map-get($size, bp)) {
      float: left;

    }
  }
  span {
    color: map-get($color, brand);
    @include transition;
  }
  &:hover {
    text-decoration: none;
    color: map-get($color, brand);
    svg {
      .cls-3, .cls-2 {
      fill: map-get($color, brand);
    }
    }
    span {
      color: map-get($color, fg);
    }
  }
}
footer.footer {

  p {
    margin: 0;
    font-size: map-get($font-size, sig);
    line-height: map-get($font-size, sigLine);
  }
}
}


header.header h1.title {
  @include reset(all);
}

ul, ol {
  @include reset(all);
  @include reset(list);
}


aside {
  .title {
    font-size: map-get($font-size, title);
    line-height: map-get($font-size, titleLine);
  }
  p {
    @include highlight;
  }
}

aside {
    @media screen and (min-width: map-get($size, bp)) {
  .title, footer {
    width: map-get($size, aside);
  }
}
}
a:not(.collapse-trigger):not(.logo) {
  color: map-get($color, brand);
  @include transition;
  text-decoration: none;
  border-bottom: dotted 2px map-get($color, brand);
  &:hover {
    color: map-get($color, fg);
    border-bottom: dotted 2px map-get($color, fg);

    text-decoration: none;
  }

}

h1, h2, h3, h4, h5, .title {
  font-family: map-get($font, title);
  text-transform: uppercase;
}



.study-link {
  display: block;
  margin-bottom: (map-get($size, margin) / 2);
  border: none !important;

  p {
    @include highlight;
    text-transform: uppercase;
    color: map-get($color, fg);
    @include transition;

  }
&:hover {
      .main, .description, &:after {
        background-color: purple;
        color: white;
      }
      &:after {
        border-color: white;
      }
    }
  &:after, &:before {

    font-size: map-get($font-size, sig);
  }
  &:after {
    @include highlight;
    content: "View Syllabus";
    display: inline-block;
    @include transition;
    border-bottom: dotted 2px map-get($color, brand);

  }
  &.current {
    font-size: map-get($font-size, text);
    padding: 20px 0 10px 0;
    background-position: center center;
    background-size: cover;
    .main {
      font-size: map-get($font-size, subtitle);
    }
    &:hover {
      .main, .description, &:after {
        background-color: purple;
        color: white;
      }
      &:after {
        border-color: white;
      }
    }
  }
  &.previous p.description {
    font-size: map-get($font-size, sig);
  }
}



.design {
  z-index: 10000;
  background-color: #fff;
  background-image: url(../../images/design.png);
  background-size: 1140px 1079px;
  background-repeat: no-repeat;
  background-position: center 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 1079px;
  position: absolute;

}

.limit {
  @include tile(lines-down-c, white, 5);
  content: "";
  display: block;
  position: fixed;
  height: map-get($size, margin);
  width: 100%;
  z-index: 100;

  .row *:before {
    display: block;
    background-color: map-get($color, fg);
    content: "";
    height: 10px;
  }
    @media screen and (max-width: map-get($size, bp)) {
    .col-md-3:before {
      display: none;
    }

  }
  &.up {
    top: 0;
  }
  &.down {
    bottom: 0;
  }
}

$about: 120px;
.team {
  @include clearfix;
  a {
    width: $about;
    height: $about;
    display: inline-block;
    float: left;
    background-size: cover;
    background-position: center center;
    border: none !important;
    @include transition;
    &:not(:hover) {
     filter: grayscale(100%);
     @include opacity(90);
   }
   span {
    color: map-get($color, bg);
    background-color: map-get($color, brand);
    padding: 3px 5px;
    @include opacity(0);
    @include transition;
    font-size: map-get($font-size, sig);
  }
  &:hover {
    border: none !important;
    width: ($about * 1.5);
    span {
     @include opacity(100);
   }

 }
}
}

ul.study {
  .circle, .description {
    text-transform: uppercase;
    p {
      @include highlight;
    }
  }
  .circle {


    @include rain($delay: $delay);
    p {

      font-size: map-get($font-size, xl);
      line-height: map-get($font-size, xlLine);

    }
  }
  .description {
    @include rain($delay: ($delay * 2));
    margin-bottom: map-get($size, margin);
    p {
      font-size: map-get($font-size, subtitle);
      line-height: map-get($font-size, subtitleLine);
    }
  }
  .cover {
    height: map-get($size, cover);
    @include rain($delay: ($delay * 3));
    margin-bottom: map-get($size, margin);

  }
}

.cover {
    background-size: cover;
    display: block;
    background-position: center center;

  }


section.session {
  margin-bottom: map-get($size, margin);
  counter-increment: my-awesome-counter;

  @include rain($delay: ($delay * 6));
  display: grid;
  grid-template-columns: 1fr 7fr;
.main {
  font-size: (map-get($font-size, subtitle) * 0.7);
    line-height: (map-get($font-size, subtitleLine) * 0.7);
text-transform: uppercase;
}
.action:not(:last-of-type):after {
  height: map-get($size, margin);
}
  .counter {
    font-size: map-get($font-size, subtitle);
    line-height: map-get($font-size, subtitleLine);
    &:before {
      text-align: center;
      displaY: block;
      margin-top: -10px;
      padding-top: 10px;
      width: map-get($size, counter);
      height: map-get($size, counter);
      content: counter(my-awesome-counter);
      background-color: map-get($color, brand);
      color: map-get($color, bg);
    }

  }

  li {
    @include highlight($padding: 5);
    &.title, &.meeting {
      font-family: map-get($font, text);

      text-transform: uppercase;
      &:after {
        height: map-get($size, margin);
      }
    }
    &.title {
      font-size: map-get($font-size, subtitle);
      line-height: map-get($font-size, subtitleLine);
    }
  }



}

.instructions {
  background-color: #fff;
  display: grid;

  @include rain($delay: ($delay * 5));
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:  map-get($size, margin);
  padding-top: (map-get($size, margin) / 2);
  margin-bottom: (map-get($size, margin) * 2);
  &.previous {
      grid-template-columns: 1fr 1fr;
      .enroll {
        display: none;
      }
  }
  li, h2 {
    padding-bottom: (map-get($size, margin) / 2);
  }
  h2 {
    font-family: map-get($font, text);
    font-size: map-get($font-size, subtitle);
    line-height: map-get($font-size, subtitleLine);
  }
  li {
    font-size: map-get($font-size, sig);
    line-height: map-get($font-size, sigLine);

  }

}